<div class="footer">
    <div class="logo">
        <a class="link link_theme_islands link_size_xl link__control i-bem" data-bem="{&quot;link&quot;:{}}" href="/">Виктор Шапкин</a>
        <div class="logo__title">Персональный сайт</div>
    </div>
    <div>    
        email:&nbsp;<a class="link link_theme_islands link__control i-bem" data-bem="{&quot;link&quot;:{}}" href="mailto:from_friends@mail.ru">from_friends@mail.ru</a>&nbsp; skype:&nbsp;<strong>viktor_a_shapkin</strong>
        <div class="footer__announce">Читайте наш новый форум:&nbsp; <a class="link link_theme_islands link_size_xl link__control i-bem" data-bem="{&quot;link&quot;:{}}" href="http://shapkin.0pk.ru/">shapkin.0pk.ru</a></div>
    </div>
</div>
