<div class="header">
    <div class="logo">
        <a class="link link_theme_islands link_size_xl link__control i-bem" data-bem="{&quot;link&quot;:{}}" href="/">Виктор Шапкин</a>
        <div class="logo__title">Персональный сайт</div>
    </div>
        
    <div class="menu menu_theme_islands menu_size_xl menu__control i-bem" data-bem="{&quot;menu&quot;:{}}" role="menu" tabindex="0">
        <div class="menu-item menu-item_theme_islands  menu-item_type_link i-bem" data-bem="{&quot;menu-item&quot;:{}}" role="menuitem"><a href="/list/" class="link link_theme_islands link_size_l">Оглавление</a></div>
        <div class="menu-item menu-item_theme_islands menu-item_type_link  i-bem" data-bem="{&quot;menu-item&quot;:{}}" role="menuitem"><a href="/classifields/" class="link link_theme_islands link_size_l">Излишки на продажу</a></div>
        <div class="menu-item menu-item_theme_islands menu-item_type_link i-bem"
            data-bem="{&quot;menu-item&quot;:{}}" role="menuitem"><a
                href="http://shapkin.0pk.ru/" class="link link_theme_islands menu-item_type_link 
                link_size_l">Новый форум</a></div>
        <div class="menu-item menu-item_theme_islands  menu-item_type_link i-bem"
            data-bem="{&quot;menu-item&quot;:{}}" role="menuitem"><a
                href="/about/" class="link link_theme_islands link_size_l">Об
                авторе</a></div>
    </div>
</div>
