<div class="quotes">
    <div class="quotes__quote">... свой тайный смысл доверят мне предметы ... <br>Б. Ахмадулина </div>
    <div class="quotes__quote">интернет и ай-фон,<br>вы заполнили шар земной<br>винил оттеснён, <br>    без вины виноватый<br>но затаён, <br>    он всегда и везде со мной<br>и несет он меня и качает меня <br>    как туманной волной *</div><div class="quotes__quote">С огромным удовольствием посмотрел Ваши странички ....<br>Буду Вашим постоянным посетителем и читателем. <br> ... искренне поздравляю Вас с той работой, которую Вы делаете. <br>    Это замечательно! <br>         Удачи. Евгений К....</div>
</div>
