/* ../../desktop.blocks/header/header.css: begin */ /**/
    .header {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
    
        max-width: 960px;
        margin: 20px auto;
        border-bottom: 1px solid rgba(0,0,0,0.3);
    }
    
/* ../../desktop.blocks/header/header.css: end */ /**/

/* ../../desktop.blocks/menu/menu.css: begin */ /**/
    .menu.menu_thumbs {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; 
        -webkit-flex-wrap: wrap; 
            -ms-flex-wrap: wrap; 
                flex-wrap: wrap;
    }
    
/* ../../desktop.blocks/menu/menu.css: end */ /**/

/* ../../desktop.blocks/menu-item/menu-item.css: begin */ /**/
    .header .menu-item {
        display: inline-block;
    }
    
    .menu-item.menu-item_thumbs {
        width: 100%;
        height: 200px;
        overflow: hidden;
        position: relative;
        padding: 0;
        margin: 0 0 30px 0;
    }
    
    .menu_size_xl .menu-item_theme_islands.menu-item_thumbs {
        padding: 0;
    }
    
    .menu-item.menu-item_thumbs .image {
        position: absolute;
        left: 50%;
        right: 50%;
        width: 100%;
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        height: auto;
        z-index: 0;
    }
    
/* ../../desktop.blocks/menu-item/menu-item.css: end */ /**/

/* ../../desktop.blocks/content/content.css: begin */ /**/
    .content {
        max-width: 960px;
        margin: 20px auto;
    }
    
/* ../../desktop.blocks/content/content.css: end */ /**/

/* ../../desktop.blocks/quotes/quotes.css: begin */ /**/
    .quotes {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 30px;
    }
    
    .quotes__quote {
        margin-right: 20px;
        font-style: italic;
        color: #666;
    }
    
/* ../../desktop.blocks/quotes/quotes.css: end */ /**/

/* ../../desktop.blocks/image/image.css: begin */ /**/
    .image__title {
        display: block;
        background-color: #FFEE9B;
        color: black;
        padding: 0 10px;
        position: absolute;
        width: 100%;
        z-index: 100;
    }
    
/* ../../desktop.blocks/image/image.css: end */ /**/

/* ../../desktop.blocks/footer/footer.css: begin */ /**/
    .footer {
        max-width: 960px;
        margin: 20px auto;
        padding: 20px 0;
        border-top: 1px solid rgba(0,0,0,0.3);
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    
    .footer__announce {
        margin-top: 10px;
    }
    
/* ../../desktop.blocks/footer/footer.css: end */ /**/

/* ../../libs/bem-components/common.blocks/menu/menu.styl:begin */
.menu {
  overflow-y: auto;
}
/* ../../libs/bem-components/common.blocks/menu/menu.styl:end */
/* ../../libs/bem-components/common.blocks/image/image.styl:begin */
.image {
  border: 0;
}
/* ../../libs/bem-components/common.blocks/image/image.styl:end */
/* ../../libs/bem-components/design/common.blocks/link/_theme/link_theme_islands.styl:begin */
.link_theme_islands {
  color: #44b;
  cursor: pointer;
  transition: color 0.15s ease-out;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0.1);
}
.link_theme_islands.link_view_minor {
  color: #669;
}
.link_theme_islands.link_view_external {
  color: #070;
}
.link_theme_islands:hover {
  color: #e00;
}
.link_theme_islands.link_size_s {
  font-size: 13px;
}
.link_theme_islands.link_size_m {
  font-size: 13px;
}
.link_theme_islands.link_size_l {
  font-size: 15px;
}
.link_theme_islands.link_size_xl {
  font-size: 18px;
}
/* ../../libs/bem-components/design/common.blocks/link/_theme/link_theme_islands.styl:end */
/* ../../libs/bem-components/design/common.blocks/menu/_theme/menu_theme_islands.styl:begin */
.menu_theme_islands {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: 0;
  background: #fff;
/* Using pseudo-elements intead of paddings because of Firefox bug with bottom padding (#1158):
     * https://bugzilla.mozilla.org/show_bug.cgi?id=748518 */
}
.menu_theme_islands:before,
.menu_theme_islands:after {
  display: block;
  content: '';
}
.menu_theme_islands.menu_size_s {
  font-size: 13px;
  line-height: 24px;
}
.menu_theme_islands.menu_size_s:before,
.menu_theme_islands.menu_size_s:after {
  height: 3px;
}
.menu_theme_islands.menu_size_s .menu-item + .menu__group {
  margin-top: 3px;
}
.menu_theme_islands.menu_size_s .menu__group {
  padding: 3px 0;
}
.menu_theme_islands.menu_size_s .menu__group-title {
  padding: 0 10px;
}
.menu_theme_islands.menu_size_m {
  font-size: 13px;
  line-height: 24px;
}
.menu_theme_islands.menu_size_m:before,
.menu_theme_islands.menu_size_m:after {
  height: 4px;
}
.menu_theme_islands.menu_size_m .menu-item + .menu__group {
  margin-top: 4px;
}
.menu_theme_islands.menu_size_m .menu__group {
  padding: 4px 0;
}
.menu_theme_islands.menu_size_m .menu__group-title {
  padding: 0 13px;
}
.menu_theme_islands.menu_size_l {
  font-size: 15px;
  line-height: 28px;
}
.menu_theme_islands.menu_size_l:before,
.menu_theme_islands.menu_size_l:after {
  height: 5px;
}
.menu_theme_islands.menu_size_l .menu-item + .menu__group {
  margin-top: 5px;
}
.menu_theme_islands.menu_size_l .menu__group {
  padding: 5px 0;
}
.menu_theme_islands.menu_size_l .menu__group-title {
  padding: 0 15px;
}
.menu_theme_islands.menu_size_xl {
  font-size: 15px;
  line-height: 32px;
}
.menu_theme_islands.menu_size_xl:before,
.menu_theme_islands.menu_size_xl:after {
  height: 6px;
}
.menu_theme_islands.menu_size_xl .menu-item + .menu__group {
  margin-top: 6px;
}
.menu_theme_islands.menu_size_xl .menu__group {
  padding: 6px 0;
}
.menu_theme_islands.menu_size_xl .menu__group-title {
  padding: 0 20px;
}
.menu_theme_islands .menu__group {
  border: 1px solid rgba(0,0,0,0.1);
  border-width: 1px 0;
}
.menu_theme_islands .menu__group-title {
  color: #999;
}
.menu_theme_islands .menu__group + .menu__group {
  border-top: 0;
}
.menu_theme_islands .menu__group:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.menu_theme_islands .menu__group:first-child {
  padding-top: 0;
  border-top: 0;
}
/* ../../libs/bem-components/design/common.blocks/menu/_theme/menu_theme_islands.styl:end */
/* ../../libs/bem-components/design/common.blocks/menu-item/_theme/menu-item_theme_islands.styl:begin */
.menu-item_theme_islands {
  position: relative;
  white-space: nowrap;
}
.menu-item_theme_islands.menu-item_disabled {
  opacity: 0.3;
}
.menu-item_theme_islands .link_disabled {
  cursor: text;
}
.menu-item_theme_islands.menu-item_checked {
  background: 0 50% no-repeat url("../../libs/bem-components/design/common.blocks/theme/_islands/tip.svg");
}
.menu-item_theme_islands.menu-item_hovered {
  cursor: pointer;
  background-color: #ffeba0;
}
.menu-item_theme_islands.menu-item_type_link .link {
  text-decoration: none;
  color: inherit;
  outline: none;
/* Fit clickable area to `menu-item` size */
}
.menu-item_theme_islands.menu-item_type_link .link:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}
.menu_size_s .menu-item_theme_islands {
  padding: 0 10px;
  background-size: 14px 14px;
  background-position: 10px 50%;
}
.menu_size_s .menu__group + .menu-item_theme_islands {
  margin-top: 3px;
}
.menu_size_s[class*='menu_mode'] .menu-item_theme_islands,
.menu_size_s .menu__group-title ~ .menu-item_theme_islands {
  padding: 0 30px;
}
.menu_size_m .menu-item_theme_islands {
  padding: 0 13px;
  background-size: 14px 14px;
  background-position: 13px 50%;
}
.menu_size_m .menu__group + .menu-item_theme_islands {
  margin-top: 4px;
}
.menu_size_m[class*='menu_mode'] .menu-item_theme_islands,
.menu_size_m .menu__group-title ~ .menu-item_theme_islands {
  padding: 0 30px;
}
.menu_size_l .menu-item_theme_islands {
  padding: 0 15px;
  background-size: 15px 15px;
  background-position: 15px 50%;
}
.menu_size_l .menu__group + .menu-item_theme_islands {
  margin-top: 5px;
}
.menu_size_l[class*='menu_mode'] .menu-item_theme_islands,
.menu_size_l .menu__group-title ~ .menu-item_theme_islands {
  padding: 0 34px;
}
.menu_size_xl .menu-item_theme_islands {
  padding: 0 20px;
  background-size: 15px 15px;
  background-position: 20px 50%;
}
.menu_size_xl .menu__group + .menu-item_theme_islands {
  margin-top: 6px;
}
.menu_size_xl[class*='menu_mode'] .menu-item_theme_islands,
.menu_size_xl .menu__group-title ~ .menu-item_theme_islands {
  padding: 0 40px;
}
/* ../../libs/bem-components/design/common.blocks/menu-item/_theme/menu-item_theme_islands.styl:end */
/* ../../libs/bem-components/design/common.blocks/page/_theme/page_theme_islands.styl:begin */
html {
  min-height: 100%;
}
.page_theme_islands {
  font: 14px/18px Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #000;
  background: #fff;
}
/* ../../libs/bem-components/design/common.blocks/page/_theme/page_theme_islands.styl:end */

.content img {
    max-width: 100%;
}

span.sale {
    font-weight: bold;
    color: red;
}
