<!DOCTYPE html>
<html class="ua_js_no">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/><meta charset="utf-8"/>
        <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}Персональный сайт Виктора Шапкина</title>
        <script>(function(e,c){e[c]=e[c].replace(/(ua_js_)no/g,"$1yes");})(document.documentElement,"className");(function(d,n){d.documentElement.className+=" ua_svg_"+(d[n]&&d[n]("http://www.w3.org/2000/svg","svg").createSVGRect?"yes":"no");})(document,"createElementNS");</script>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/static/index.css"/>
</head>
<body class="page page_theme_islands">

    {% include header.html %}

    {{ content }}
    
    {% include footer.html %}

    <script src="/static/index.js"></script>
    </body>
</html>
