---
layout: default
---
<div class="content">
    <div class="menu menu_theme_islands menu_size_xl menu_thumbs menu__control i-bem" data-bem="{&quot;menu&quot;:{}}" role="menu" tabindex="0">
    {% for post in site.posts offset:0 limit:9 %}
        {% if post.categories contains 'classifields'  %}
        {% else %}
            <div class="menu-item menu-item_thumbs menu-item_theme_islands i-bem" data-bem="{&quot;menu-item&quot;:{}}" role="menuitem">
                <a class="link link__control i-bem" data-bem="{&quot;link&quot;:{}}" href="{{ post.url }}">
                    <div class="image__title">{{ post.title }}</div>
                    <img class="image" role="img" src="{{ post.thumb }}"/>
                </a>
            </div>
        {% endif %}
  {% endfor %}
    </div>
    {% include quotes.html %}
</div>
